<!--div> $$ \sum_{i=0}^n i^2 = \frac{(n^2+n)(2n+1)}{6} $$ </div-->

<div class="learning-div" id="div1" style="opacity: 0">

	Исходные данные: 2 матрицы $A$ и $B$ размеров $M{\times}N$ и $N{\times}Q$ соответственно.</br>

	Результирующие данные: Матрица размера $ M{\times}Q $.</br>

	Описание алгоритма: целью данной задачи является получение новой матрицы из двух исходных.
	Количество строк новой матрицы будет равно колчеству строк первой исходной матрицы, а количество столбцов новой матрицы - количеству столбцов второй исходной матрицы.
	Каждый элемент новой матрицы на пересечении $i$ строки и $j$ столбца равен скалярному произведению $i$ строки матрицы $A$ и $j$ столбца матрицы $B$.</br>

	В приведенном ниже примере представлено перемножение первой строки матрицы $A$ на второй столбец матрицы $B$.</br></br>

</div>

<div class="learning-div" id="testid" style="opacity: 0">
	<div class="row; outer">
		<div id="matrix1" class="matrix-container"></div>
		<div class="matrix-container" style="font-size: 20px">${\cdot}$</div>
		<div id="matrix2" class="matrix-container"></div>
		<div class="matrix-container" style="font-size: 20px">$=$</div>
		<!-- <div class="matrix-container" style="font-size: 20px">$4{\cdot}2 + 5{\cdot}4 + 6{\cdot}6$</div>
		<div class="matrix-container" style="font-size: 20px">$=$</div> -->
		<!-- <div id="ggg" class="matrix-container" style="font-size: 20px">$64$</div> -->

		<div id = "resultEx1" class="formula-container; outer"> </div>
	</div>
	<!-- <div class="row; outer" style="align-items: flex-end; justify-content: space-around">
		<div  class="matrix-container"></div>
		<div  class="matrix-container"></div>

		<div id = "resultEx1" class="formula-container"> </div>
	</div> -->
	
</div>


<div class="learning-div" id="div2" style="opacity: 0">

	На каждом шаге алгоритма происходит перемножение определенной строки первой матрицы с определенным столбцом второй матрицы.
	В итоге, каждая строка матрицы $A$ должна быть перемножена с каждым столбцом матрицы $B$.</br>

	В примере ниже приведен пример перемножения матриц.</br>

</div>

<div class="learning-div" style="opacity: 0">
	<div class="row; outer">
		<div id="matrix3" class="matrix-container"></div>
		<div class="matrix-container" style="font-size: 20px">${\cdot}$</div>
		<div id="matrix4" class="matrix-container"></div>
		<div class="matrix-container" style="font-size: 20px">$=$</div>
		<div id="matrix5" class="matrix-container"></div>
	</div>
</div>

<div id="MathExample">

</div>
<!--table class="table table-hover">
	<thead>
		<th></th>
		<th>Subject</th>
		<th>Message</th>
		<th>Sent</th>
	</thead>
	<tbody class="mails">
	</tbody>
</table-->