<!DOCTYPE html>
<html>
<head>
    <title>Easy Math</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/public/css/Site.css">
    <link rel="stylesheet" type="text/css" href="/public/components/MatrixBuilder/matrix.css">
    <link rel="stylesheet" type="text/css" href="/public/components/drop/dist/css/drop-theme-arrows.css" />

    <script type="text/javascript" src="/public/components/requirejs/require.js" data-main="/public/js/main.js"></script>


</head>
<body>
    
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Easy Math</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Домашняя страница</a></li>
                <li><a href="/easymath">Простые примеры</a></li>
                <li><a href="/config">Настройки</a></li>
                <li><a href="/config">Статистика</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="label" id="user-name-label"></span></li>
                <li><a href="/account/register"><span class="glyphicon glyphicon-user"></span>Зарегистрироватся</a></li>
                <li><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span>Войти</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div id="app" class="container"></div>
    </div>

</body>
</html>
