body {
}

.matrix-container {
    float: left;
    margin-left: 15px;
    text-align: center;
}

.outer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.task-list {
    width: 500px;
    margin-left: 30%;