<h3>Log In</h3>
<form id="loginForm">
  <div class="form-group">
    <label>Email</label>
    <input name="email" class="form-control" type="text"/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input name="password" class="form-control" type="password"/>
  </div>
  <div id="form-error" class="alert alert-warning" hidden>

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Log In</button>
  </div>
</form>

<button id="logout" class="btn btn-default">Log Out</button>
