<div>
        <button class="btn" id="in">Сгенерировать</button>
        <div id="question">Выберите допустимую операцию</div>
    <div class="well">
        <div class="result-expression"></div>
        <div id="expression"></div>
    </div>



    <!--<svg id="svg-canvas" width="800" height="600">
        <g transform="translate(300,50) scale(1.5)" />
    </svg>-->
    <div class= "debug-info-block">
        <div>RPN: </div><div id="res"></div>
        <div class="math-result">
            <div>Вычисления:</div>
            <div id="math"></div>
        </div>
        <div class="deb-stat">
            <div>Expressions:</div>
            <div id="questionNumber"></div>
            <div>goodAnswer:</div>
            <div id="goodAnswer"></div>
            <div>wrongAnswer:</div>
            <div id="wrongAnswer"></div>
            <div>currentWrongAnswers:</div>
            <div id="currentWrongAnswers"></div>
        </div>
    </div>
</div>
