<!DOCTYPE html>
<html>
<head>
    <title>Algoteacher</title>
    <link rel="stylesheet" type="text/css" href="/public/components/bootstrap/docs/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/components/matrix/matrix.css">

    <script type="text/javascript" src="/public/components/requirejs/require.js" data-main="/public/js/main.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">Algoteacher</a>
            <ul class="nav">
                <li><a href="/learning">Обучение</a></li>
                <li><a href="/settings">Настройки</a></li>
                <li><a href="/info">Информация</a></li>

                <li><a href="/inbox">Inbox</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/tasks">Tasks</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div id="app" class="container"></div>
    </div>
</body>
</html>
